<mat-card-title-group>
    <mat-card-title>{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle>ID: {{employee.id}}&emsp;Direct Reports: {{reports}}</mat-card-subtitle>
</mat-card-title-group>
<hr>
<mat-card-content class="compress">
    <mat-list>
        <mat-list-item class="report-section">Direct Reports:</mat-list-item>
        <div *ngIf="!reportees || reportees.length === 0; then noReports else showReports"></div>

        <ng-template #noReports>
            <mat-list-item class="reporteeRow"><span>This employee has no reports.</span></mat-list-item>
        </ng-template>

        <ng-template #showReports>
                <div class="d-flex reporteeRow" *ngFor="let rep of reportees">
                    <div class="p-2 flex-grow-1">{{rep.lastName}}, {{rep.position}}</div>
                    <div class="p-2"><button type="button" class="btn btn-outline-primary me-2 p-2" (click)="openDialog(employee, rep, 'edit')"><mat-icon>edit</mat-icon></button></div>
                    <div class="p-2"><button type="button" class="btn btn-outline-danger p-2" (click)="openDialog(employee, rep, 'delete')"><mat-icon>delete_forever</mat-icon></button></div>
                </div>
        </ng-template>
    </mat-list>
</mat-card-content>